<div class="side-bar-header">
  <%= link_to 'Tom', '#', class:"header-name" %>
  <div class="create-kakeibo">
    <% if user_signed_in? %>
      <%= link_to '家計簿を作成する', new_item_path, method: :get, class: "purchase-btn-icon" %>
    <% else %>
      <%= link_to '家計簿を作成する', new_user_session_path, method: :get, class: "purchase-btn-icon" %>
    <% end %>
  </div>
</div>

<div class="items">
  <div class="side-items">
    <%= link_to '支出', '#' %>
  </div>
  <div class="side-items">
    <%= link_to '収入', '#', class:"said-items" %>
  </div>
  <div class="side-items">
    <%= link_to '貯金', '#', class:"said-items" %>
  </div>
</div>

  <%= link_to '家計簿を作成する', new_item_path, class:"create-kakeibo" %>
