<div class="side-bar-header">
  <%= link_to 'Tom', '#', class:"header-name" %>
  <%= link_to '家計簿を作成する', '#', class:"create-kakeibo" %>
</div>

<div class="items">
  <div class="side-items">
    <%= link_to '支出', '#' %>
  </div>
  <div class="side-items">
    <%= link_to '収入', '#', class:"said-items" %>
  </div>
  <div class="side-items">
    <%= link_to '貯金', '#', class:"said-items" %>
  </div>
</div>