<div class="items-sell-contents">
  <div class="items-sell-main">
    <h2 class="items-sell-title">新しい収支の入力</h2>
    <%= form_with model: @item, local: true do |f| %>

    <%# インスタンスを渡して、エラー発生時にメッセージが表示されるようにしましょう。%>
    <%# <%= render 'shared/error_messages', model: @item %> 
    <%# //インスタンスを渡して、エラー発生時にメッセージが表示されるようにしましょう。%>

    <div class="new-items">
      <div class="weight-bold-text">
        日付
        <span class="indispensable">必須</span>
      </div>
      <%= f.date_field :date, class:"items-text", id:"item-date" %>
      <div class="items-explain">
        <div class="weight-bold-text">
          金額
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_field :value, class:"items-text", id:"item-value", placeholder:"例）300" %>
      </div>
    </div>
    <div class="items-detail">
      <div class="form">
        <div class="weight-bold-text">
          カテゴリー
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
        <div class="weight-bold-text">
          タイプ
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:type_id, Type.all, :id, :name, {}, {class:"select-box", id:"item-type"}) %>
      </div>
    </div>


    <%# 下部ボタン %>
    <div class="sell-btn-contents">
      <%= f.submit "登録する" ,class:"sell-btn" %>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>
    <%# /下部ボタン %>
  </div>
  <% end %>
</div>